<a class="waves-light float-right">
  <mdb-icon fas icon="plus-circle" size="1x" class="white-text" aria-hidden="true" (click)="basicModal.show()"></mdb-icon>
</a>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" (open)="onOpen($event)" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #bug="ngForm" (ngSubmit)="onSubmit()" validate>
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Bug</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">
            <input mdbInput required type="text" id="form1" class="form-control" name="name" [(ngModel)]="name">
            <label for="form1" class="">*Name</label>
          </div>
          <div class="md-form">
            <textarea mdbInput type="text" id="form7" class="md-textarea form-control" rows="5" name="description" [(ngModel)]="description"></textarea>
            <label for="form7">Description</label>
          </div>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          {{ isValid ? basicModal.hide() : '' }}
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="blue-grey" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cancel</button>
          <button type="submit" mdbBtn color="blue" class="relative waves-light" mdbWavesEffect>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>