<div class="d-flex">
    <!-- Card -->
    <mdb-card
      style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
      class="card-image mb-3 mx-2"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="pink-text">
            <mdb-icon fas icon="chart-pie"></mdb-icon>
            Marketing
          </h5>
          <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
            voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
            ipsum dignissimos. Odit sed qui, dolorum!.
          </p>
          <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon>
            View project</a
          >
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->
  
    <!-- Card -->
    <mdb-card
      style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
      class="card-image mb-3 mx-2"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
        <div>
          <h5 class="orange-text">
            <mdb-icon fas icon="desktop"></mdb-icon>
            Software
          </h5>
          <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
            voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
            ipsum dignissimos. Odit sed qui, dolorum!.
          </p>
          <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon>
            View project</a
          >
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->
  </div>