<mdb-card>
  <mdb-card-header class="brown white-text border-0">
    History
  </mdb-card-header>
  <div class="mat-elevation-z8 z-depth-0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="history">
        <th *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let log"> 
          <div class="mt-1 mb-1">
            <span class="float-right pt-1">2 days ago</span>
            <img  src={{log.subject.picture}} alt="" width="30" class="img-fluid rounded-circle z-depth-0 mr-3">
            <!-- Subject -->
            <!-- {{ log.subject.name }}  -->

            <!-- Verb -->
            <mdb-badge pill="true" color="{{log.predicate.verb === 'created' ? 'green' : ''}}">{{ log.predicate.verb }}</mdb-badge>
            <!-- Object or Info -->
            <i class="ml-2">{{ log.predicate.object }}</i>

            <!-- Object Type -->
            {{ log.predicate.objectType === 'project' ? '' : ' under ' }}

            <!-- Previous State -->
            {{ log.predicate.verb === 'updated' ? 'from ' : ''}}
            {{ log.predicate.previousState }}

            <!-- Current State -->
            {{ log.predicate.verb === 'updated' ? 'to ' : ''}}
            <b>{{ log.predicate.currentState ? log.predicate.currentState : '' }}</b>   
          </div>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mdb-card>

