<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark teal darken-2 sticky-top mb-5"
  [containerInside]="false"
>
  <ul class="navbar-nav mr-auto nav-flex-icons align-items-center">
    <li *ngIf="auth.loggedIn" class="nav-item">
      <a [routerLink]="['/dashboard']" class="nav-link waves-light" mdbWavesEffect>
        <mdb-icon fas icon="tachometer-alt"></mdb-icon>
        Dashbord<span class="sr-only">(current)</span>
      </a>
    </li>
    <li *ngIf="auth.loggedIn" class="nav-item">
      <a
        href="http://localhost:8080/users"
        target="_blank"
        class="nav-link waves-light"
        mdbWavesEffect
      >
        <mdb-icon fas icon="newspaper"></mdb-icon>
        User Management<span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
  <div class="position-absolute middle">
    <img src="../../../../assets/img/bug-stalker-logo.png" alt="" width="30" class="img-fluid" />
  </div>
  <ul class="navbar-nav ml-auto nav-flex-icons align-items-center">
    <li *ngIf="auth.loggedIn" class="nav-item avatar dropdown" dropdown>
      <a
        dropdownToggle
        type="button"
        class="nav-link dropdown-toggle waves-light pt-0 pb-0 mt-0 mb-0"
      >
        <img
          *ngIf="auth.userProfile$ | async as profile"
          src="{{ profile.picture }}"
          alt=""
          width="35"
          class="img-fluid rounded-circle z-depth-0 mr-1"
        />
      </a>
      <div
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right dropdown dropdown-primary mt-3"
        role="menu"
      >
        <a class="dropdown-item waves-light" (click)="auth.logout()">Log out</a>
      </div>
    </li>
    <li *ngIf="!auth.loggedIn" class="nav-item">
      <a class="nav-link">
        <mdb-icon fas icon="user"></mdb-icon>
      </a>
    </li>
  </ul>
</mdb-navbar>
