<button type="button" mdbBtn color="blue" class="relative waves-light float-right mx-0 my-0" (click)="basicModal.show()" mdbWavesEffect>
  <mdb-icon fas icon="plus"></mdb-icon>
  &nbsp;&nbsp;Add Member
</button>

<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  (open)="onOpen($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Members</h4>
        </div>
        <div class="modal-body">
          <div *ngFor="let user of mappedUsers" class="mb-2">
            <mdb-checkbox [name]="user.userId" [default]="true" [disabled]="user.disabled" [checked]="user.checked" [(ngModel)]="user.checked">
              <img *ngIf="user" src="{{ user.picture }}" alt="" width="27" class="img-fluid rounded-circle z-depth-0 mr-1" />
              {{ user.email }}
            </mdb-checkbox>
          </div>
          <p *ngIf="loading">Loading ...</p>
          {{ isValid ? basicModal.hide() : '' }}
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="blue-grey" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>
            Cancel
          </button>
          <button type="submit" mdbBtn color="blue" class="relative waves-light" mdbWavesEffect>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
