<mat-tab-group animationDuration="0ms" [(selectedIndex)]="tabIndex" mat-align-tabs="center">
  <mat-tab label="Board"></mat-tab>
  <mat-tab label="Details">
    <div *ngIf="project" class="container mt-4 mb-3">
      <div class="row">
        <div class="col-md-5 mb-4">
          <mdb-card>
            <mdb-card-header class="brown white-text border-0">Project Details</mdb-card-header>
            <mdb-card-body>
              <form>
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" name="name" value="name" [(ngModel)]="name">
                  <label for="formGroupExampleInputMD">Name</label>
                </div>
                <div class="md-form form-group mt-1">
                  <textarea mdbInput type="text" id="form7" class="md-textarea form-control" rows="5" name="description" value="description" [(ngModel)]="description"></textarea>
                  <label for="form7">Description</label>
                </div>
              </form>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-7">
          <app-project-history [projectId]="project._id" [logs]="project.logs"></app-project-history>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<app-drag-drop [className]="tabIndex === 0 ? '' : 'displayNone'" [projectId]="project._id"></app-drag-drop>