<div id="page-container" class="container">
  <div class="row">
    <div class="col-4">
      <mdb-card class="testimonial-card" *ngIf="auth.userProfile$ | async as profile">
        <div class="card-up indigo lighten-1"></div>
        <div class="avatar mx-auto pt-3">
          <img src={{profile.picture}}  width="150" class="rounded-circle">
        </div>
        <mdb-card-body>
          <mdb-card-title class="text-center">
            <h4>{{profile.name}}</h4>
          </mdb-card-title>
          <mdb-card-text class="text-center">
            <mdb-icon fas icon="envelope"></mdb-icon>
           {{profile.email}} 
          </mdb-card-text>
          <hr>
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci
          </p>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-8">
      <app-project-modal></app-project-modal>
      <h3 class="text-left pt-3">Projects</h3>
      <hr>
      <div class="row">
        <div class="col-sm-6 mb-3 mb-md-4" *ngFor="let project of projects">
          <app-project-card [project]="project" (deleteProject)="deleteProject($event)"></app-project-card>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div id="page-container" class="container">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-md-4">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Special title treatment</h5>
          </mdb-card-title>
          <mdb-card-text>With supporting text below as a natural lead-in to additional content</mdb-card-text>
          <a href="#!" mdbBtn color="primary">Go somewhere</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm-6 mb-md-4">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Special title treatment</h5>
          </mdb-card-title>
          <mdb-card-text>With supporting text below as a natural lead-in to additional content</mdb-card-text>
          <a href="#!" mdbBtn color="primary">Go somewhere</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div> -->