<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h5>{{ project.name }}</h5>
    </mdb-card-title>
    <mdb-card-text>
      {{ project.description }}
    </mdb-card-text>
    <div class="row">
      <div class="col-sm-8">
        <button [routerLink]="['/home']" routerLinkActive="router-link-active" mdbBtn class="float-left btn btn-block btn-brown btn-sm">Open Project</button>
      </div>
      <div class="col-sm-4">
        <a class="relative waves-light float-right mr-0 ml-2 mt-1" (click)="onDelete(project)">
          <mdb-icon fas icon="trash" size="1x" class="dark-grey-text" aria-hidden="true"></mdb-icon>
        </a>
        <app-project-modal [project]="project" (updateProject)="updateProject($event)"></app-project-modal>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>