<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h5>
        {{ project.name }}
      </h5>
    </mdb-card-title>
    <mdb-card-text>
      {{ project.description }}
    </mdb-card-text>
    <div class="row">
      <div class="col-sm-8">
        <button
          [routerLink]="['/projects', project._id]"
          routerLinkActive="router-link-active"
          mdbBtn
          class="float-left btn btn-block btn-brown btn-sm"
        >
          Open Project
        </button>
      </div>
      <div class="col-sm-4">
        <app-delete-modal [type]="'project'" [targetObj]="project" (deleteCard)="deleteCard($event)"></app-delete-modal>
        <app-project-modal [project]="project" (updateProject)="updateProject($event)"></app-project-modal>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
